@model BookDto
@{
}

<style>
    body {
        background-color: #b1704f;
    }

    .card {
        background-color: #fbf9f8;
    }

    label {
        color: #0b0807;
    }

    h2 {
        color: #fbf9f8;
    }

    .btn-primaryColor {
        background-color: #b1704f;
        color: #f5fafb;
        border: 1px solid #b1704f;
    }

    .btn-primaryColor:hover {
        background-color: #d68a63;
        color: #0b1515;
        border: 1px solid #d68a63;
    }

    .btn-secondaryColor {
        color: #d66363;
        border: 1px solid #d66363;
    }

    .btn-secondaryColor:hover {
        color: #f5fafb;
        background-color: #d66363;
        border: 1px solid #d66363;
    }

    form {
        max-width: 750px;
    }
</style>

<div class="text center">
    <h2 class="text-center m-0 py-4">Update Book Information</h2>
        <form class="card d-flex container-fluid p-4 justify-content-center" method="post" enctype="multipart/form-data">
                <div class="offset-sm-4 col-sm-8">
                    <img src="/books/@ViewData["ImageFileName"]" width="150" />
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Book Id</label>
                    <div class="col-sm-8">
                        <input class="form-control-plaintext" readonly value="@ViewData["BookId"]" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Book Cover</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="ImageFile" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Book Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Author</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="Author" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Genre</label>
                    <div class="col-sm-8">
                        <select class="form-select" asp-for="Genre">
                            <option value="Others">Others</option>
                            <option value="Business">Business</option>
                            <option value="Education">Education</option>
                            <option value="Financial Literacy">Financial Literacy</option>
                            <option value="Memoir">Memoir</option>
                            <option value="Self-help">Self-help</option>
                            <option value="Spiritual">Spiritual</option>
                            <option value="Womens">Womens</option>
                            <option value="Romance">Romance</option>
                            <option value="Adventure">Adventure</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Price</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid pt-2">
                <button type="submit" class="btn btn-primaryColor">Update  Book</button>
                    </div>
            <div class="col-sm-4 d-grid pt-2">
                <a class="btn btn-secondaryColor " asp-controller="Books" asp-action="Index" role="button">Cancel</a>
                    </div>
                </div>
        </form>
</div>
